<!-- JUMBOTRON BANNER  -->
<div class="text-center titleBanner jumbotron jumbotron-fluid">
  <div class="container">
    <a id="logout" class="btn btn-success btn-md" href="/login.html" role="button" style="float:right;">Logout</a>
    <h1 class="display-4">Holiday Wish List</h1>
  </div>
</div>
<div class="bg">
  <!-- WISH LIST CONTAINER -->
  <div class="container">
    <div class="rowIndex">
      <!-- USER SIDE -->
      <div class="wishForms col-sm-4">
        <h2 class="bold text-center">Your List</h2>
        {{!-- <h3 class="bold text-left">Welcome User xxxx</h3> --}}
        <ul>
        <div class="col-3">
          <h3>Add an Item</h3>
          <form class="create-form">
            <div class="form-group text-center">
              <input type="text" id="item" name="name" placeholder="Enter item here...">
              <button class="btn btn-success" type="submit">Wish for it!</button>
            </div>
          </form>
          <!-- DATABASE -->
          <div class="col-3 list-group list-group-flush">
            <ul>
              {{#each userItems}}
              <li class="list-group-item">
                {{name}}
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>


      <!-- FAMILY SIDE -->
      <div class="wishForms col-sm-7 col-sm-offset-1 ">
        <h2 class="bold text-center">Family List</h2>
        <!-- FAMILY DROPDOWN LIST -->
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Family /
            Friend
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            {{#each members}}
            <li class="family-li">
              <button class="family-member" data-id="{{id}}">
                {{email}}
              </button>
            </li>
            {{/each}}
          </ul>
        </div>
        <h3 class="text-left">SELECTED Member Name</h3>
        <!-- DATABASE -->
        <div class="col-3">
          <ul id="familyWishList"></ul>
        </div>
        <div class="col-3">
           <ul>
            {{#each memberItem}} {{#if bought}} {{> memberItem/memberItem-block devour=true}} {{/if}} {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>