* {
    margin: 0;
    padding: 0;
}

form.signup {
    margin-top: 1.0rem;
}

form.login {
    margin-top: 1.0rem;
}

.bold {
    font-weight: bold;
}

.wishForms {
    margin-top: -2.0rem;
    background-color: #ffe6e6;
    opacity: 0.9;
    border: white solid;
    border-radius: 2rem;
}

body {
    background-color: lightpink;
}

.navbar {
    padding-top: 0.5rem;
}

.btn {
    margin-top: 3.0rem;
}

.jumbotron {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    padding-top: .0rem;
    padding-bottom: 0.50rem;
    background-color: #ff4000;
    opacity: 0.8;
}

#leftSide {
    background-color: lightgreen;
}

#rightSide {
    background-color: lightgreen;
}

.load {
    animation: slide 2s;
}

.slider {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 30s infinite;
}

@keyframes slide {
    0% {
        background-image: url('../images/christmas.jpg');
    }
    12.5% {
        background-image: url('../images/christmas.jpg');
    }
    12.501% {
        background-image: url('../images/boxing_day.png');
    }
    25% {
        background-image: url('../images/boxing_day.png');
    }
    25.501% {
        background-image: url('../images/chanukah.png');
    }
    37.5% {
        background-image: url('../images/chanukah.png');
    }
    37.501% {
        background-image: url('../images/diwali.png');
    }
    50% {
        background-image: url('../images/diwali.png');
    }
    50.01% {
        background-image: url('../images/kwanzaa.png');
    }
    62.5% {
        background-image: url('../images/kwanzaa.png');
    }
    62.501% {
        background-image: url('../images/st_nicholas.png');
    }
    75% {
        background-image: url('../images/st_nicholas.png');
    }
    75.01% {
        background-image: url('../images/ethiopia.png');
    }
    87.5% {
        background-image: url('../images/ethiopia.png');
    }
    87.501% {
        background-image: url('../images/christmas2.png');
    }
    100% {
        background-image: url('../images/christmas2.png');
    }
}


/* Style footer */

footer {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    background-color: #ff4000;
    opacity: 0.8;
    padding-top: 1rem;
    bottom: 0;
    width: 100%;
    position: fixed;
}