* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* style for form starter code */
form.signup,
form.login {
    margin-top: 1.0rem;
}
/* style for checking valid password */
#validPass {
    font-size: 2.0rem;
    font-weight: bold;
    text-align: center;
}
/* style text on forms */
.bold {
    font-weight: bold;
}
/* index.handlebars layout style */
.rowIndex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
  }
/* index.handlebars layout style */
  .rowIndex > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
/* style for members Your List form */  
.wishForms {
    margin-top: 2.0rem;
    background-color: #ffe6e6;
    opacity: 0.9;
    border: white solid;
    border-radius: 2rem;
}
/* style for International Holiday text */
.holidayList {
    margin-top: 0rem;
    margin-bottom: 0.25rem;
    font-weight: bold;
    text-align: center;
}
/* style for line 1 of celebrated holidays  */
.listLine1 {
    margin-top: 0.75rem;
    margin-bottom: 1.25rem;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.0rem;
    color: #ff4000;
    word-spacing: 1.2em;
    text-align: center;
}
/* style for line 2 of celebrated holidays  */
.listLine2 {
    margin-top: 0.75rem;
    margin-bottom: 1.25rem;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.0rem;
    color: #ff4000;
    word-spacing: 0.5em;
    text-align: center;
}
/* style for line 3 of celebrated holidays  */
.listLine3 {
    margin-top: 0.75rem;
    margin-bottom: 1.25rem;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.0rem;
    color: #ff4000;
    word-spacing: 0.6em;
    text-align: center;
}
/* style for line 4 of celebrated holidays  */
.listLine4 {
    margin-top: 0.75rem;
    margin-bottom: 0rem;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.0rem;
    color: #ff4000;
    word-spacing: 0.75em;
    text-align: center;
}
/* style for character space needed in holidays  */
.dash {
    opacity:0;
}
/* style body, html */
body,
html {
    height: 100%;
    margin: 0;
}

#delete {
    margin-top: -6px;
}

/* style background image used on forms pages */
.formImage {
    background-image: url("../images/holidays1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* Style for background image used on members page */
.mainImage {
    /* The image used */
    background-image: url("../images/christmas2.png");
    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* style logout button */
#logout {
    margin-top: 3.0rem;
    margin-bottom: 5px;
}
/* style for Login & Sign up forms instruction */
.instruction {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-top: 0.1rem;
}
/* style for Login & Sign up forms jumbotron */
.formJumbotron {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    margin-bottom: 0.25rem;
    padding-bottom: 0.50rem;
    background-color: #ff4000;
    opacity: 0.8;
}
/* style for main.handlebars jumbotron */
.jumbotron {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    padding-top: 0rem;
    padding-bottom: 0.50rem;
    background-color: #ff4000;
    opacity: 0.8;
}
/* Style footer for forms */
.formFooter {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    background-color: #ff4000;
    opacity: 0.9;
    padding-top: 1rem;
    bottom: 0;
    width: 100%;
    position: fixed;
}

/* style for 'bought' in Wish List */
.bought {
    text-decoration: line-through;
}
/* style for cursor in Family List */
.familyListItem {
    cursor: pointer;
}

